language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-26
    - extra
    - extra-android-support
    - extra-android-m2repository

licenses:
    - 'android-sdk-license-.+'

before_script:
    - chmod +x gradlew

script: ./gradlew :krop:assemble
